<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to the Nested Forms Lab!</title>
</head>
<body>
  <ul>
  <% @pirates.each do |pirate_hash| %>
    <li><%= pirate_hash.name %></li>
    <li><%= pirate_hash.type %></li>
    <li><%= pirate_hash.booty %></li>
  <% end %>
  </ul>

  <h3><a href="/new">Add a New Pirate</a></h3>
</body>
</html>
